<phpunit
    bootstrap="./vendor/autoload.php"
    backupGlobals="false"
    colors="true"
    verbose="true">

    <testsuite name="NoTernaryOperators">
        <directory>./tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <file>./src/Operators/NoTernaryOperationRule.php</file>
        </whitelist>
    </filter>
</phpunit>
