rules:
    - SamLitowitz\PHPStan\Rules\Operators\NoTernaryOperationRule

services:
    -
        class: SamLitowitz\PHPStan\Operators\NoTernaryOperationRule
        tags:
            - phpstan.rules.rule
